header { position: fixed; z-index: 99; width: 100%; height: 80px; border-bottom: 1px solid #ddd; background-color: white; }
.header_container { display: flex; justify-content: space-between; align-items: center; width: 1200px; height: 80px; margin: 0 auto; }
.header_container h1 a { display: flex; align-items: center; height: 80px; }

.gnb { display: flex; }
.gnb li a { position: relative; padding: 29.5px 20px 29.5px 20px; font-weight: 700; font-size: 20px; color: #333; transition: 0.5s all; }
.gnb li a.gnb_active { color: #00b5ef; }
.gnb li a:after { display: block; content: ""; position: absolute; left: 50%; top: 0; width: 0; border-bottom: 3px solid #00b5ef; transition: all 500ms ease-out; }
.gnb li a:hover:after { left: 0%; top: 0; width: 100%; transition: all 500ms ease-out; }
.gnb li a:hover { color: #00b5ef; }

.scroll_ani_btn { position: absolute; left: calc(50% - 33.26px); bottom: 50px; }
.scroll_ani_btn button { display: block; padding-top: 70px; cursor: auto; }
.scroll_ani_btn button span:nth-of-type(1) { -webkit-animation-delay: 0s; animation-delay: 0s; }
.scroll_ani_btn button span:nth-of-type(2) { top: 16px; animation-delay: .15s; }
.scroll_ani_btn button span:nth-of-type(3) { top: 32px; animation-delay: .3s; }
.scroll_ani_btn button span{ display: block; position: absolute; left: 50%; top: 0; width: 20px; height: 20px; margin-left: -12px; border-bottom: 1px solid #00b5ef; border-left: 1px solid #00b5ef; animation: sdb 2s infinite; opacity: 1; transform: rotate(-45deg); }
.scroll_ani_btn button p { font-weight: 300; font-size: 14px; font-family: 'KorailRoundGothic'; color: #333; }

@keyframes sdb { 
  0% { opacity: 0; } 
  50% { opacity: 1; } 
  100% { opacity: 0; } 
}

.section0_container { display: flex; width: 1200px; height: 700px; margin: 0 auto; }

.sc0_comment { display: flex; flex-direction: column; justify-content: center; position: relative; left: -200px; width: 500px; height: 700px; padding-right: 50px; color: #333; opacity: 0; }
.sc0_comment h2 { margin-bottom: 100px; font-weight: 700; font-size: 40px; line-height: 1.3; text-align: left; }
.sc0_comment p { font-weight: 500; font-size: 16px; line-height: 1.5; color: #666; text-align: left; }
.sc0_comment p:nth-of-type(1) { margin-bottom: 30px; }

.sc0_profile { display: flex; position:relative; right: -200px; width: 700px; height: 700px; opacity: 0; }

.section1_container { display: flex; flex-direction: column; position: relative; bottom: 200px; margin: 0 auto; width: 1200px; height: 700px; opacity: 0; transition: 1s; }
.section1_container.s1c_active { bottom: 0 !important; opacity: 1 !important; }
.section1_container h2 { margin-bottom: 50px; font-weight: 700; font-size: 40px; color: #00b5ef; text-align: left; }

.sc1_grid_container { display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: repeat(2, 1fr); width: 100%; height: 590px; }
.sc1_grid_box { text-align: left; }
.sc1_grid_box1 { grid-column: 1 / 2; grid-row: 1 / 2; }
.sc1_grid_box2 { grid-column: 2 / 3; grid-row: 1 / 2; }
.sc1_grid_box3 { grid-column: 3 / 4; grid-row: 1 / 2; }
.sc1_grid_box4 { grid-column: 1 / 2; grid-row: 2 / 3; }
.sc1_grid_box5 { grid-column: 2 / 3; grid-row: 2 / 3; }
.sc1_grid_box6 { grid-column: 3 / 4; grid-row: 2 / 3; }

.sc1_grid_box dt { font-weight: 700; font-size: 20px; color: #333; text-align: left; }
.sc1_grid_box dd { padding: 30px 50px 0 0; font-weight: 500; font-size: 16px; line-height: 1.5; color: #666; text-align: left; word-break: keep-all; }

.section2_container { display: flex; justify-content: space-between !important; margin: 0 auto; width: 1200px; height: 800px; }

.photo_id_container { margin-bottom: 35px; }
.sc2_left { display: flex; flex-direction: column; justify-content: center; width: 245px; height: 800px; }
.photo_frame_out { position: relative; width: 225px; height: 300px; border: 5px solid #000; }
.photo_frame_in { overflow: hidden; position: absolute; left: 5px; top: 5px; width: 225px; height: 300px; border: 5px solid #000; }

.photo_id_information { text-align: left; }
.photo_id_information h2 { font-weight: 700; font-size: 30px; color: #333; }
.photo_id_information p { margin-top: 20px; font-weight: 500; font-size: 16px; color: #666;}
.photo_id_information a { display: block; margin-top: 10px; font-weight: 500; font-size: 16px; color: #666; }


.sc2_right { display: flex; width: 955px; height: 800px;  }

.skill { display: flex; flex-direction: column; align-items: flex-end; width: 477.5px; height: 800px; }
.skill_progress_container { width: 350px; height: auto; text-align: left; }
.tech_tit { margin-bottom: 30px; width: 350px; font-weight: 700; font-size: 20px; text-align: left; color: #333; }
.skill_box { width: 100%; }
.skill_name { margin-bottom: 5px; width: 100%; }
.skill_name dl { display: flex; justify-content: space-between; }
.skill_name dt { font-weight: 500; font-size: 16px; color: #666; }
.skill_name dd { font-weight: 300; font-size: 16px; color: #666; }
.skill_progress_static { width: 100%; border-radius: 15px; background-color: #f1f1f1; }
.skill_progress_container > .skill_box:not(:last-of-type) { margin-bottom: 20px; } 

.skill_progress_active { display: block; width: 0%; height: 15px; border-radius: 15px; background: rgb(255,255,255); background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(0,181,239,0.5) 0%, rgba(0,181,239,1) 100%); transition: 2s;}
.skill_progress_active1.spa1 { width: 90% !important; } 
.skill_progress_active2.spa2 { width: 90% !important; }
.skill_progress_active3.spa3 { width: 75% !important; }
.skill_progress_active4.spa4 { width: 70% !important; }
.skill_progress_active5.spa5 { width: 60% !important; }
.skill_progress_active6.spa6 { width: 50% !important; }
.skill_progress_active7.spa7 { width: 30% !important; }
.skill_progress_active8.spa8 { width: 30% !important; }
.skill_progress_active9.spa9 { width: 30% !important; }


.dev_tools { width: 350px; margin-top: 50px; text-align: left; }
.dev_tools h2 { margin-bottom: 30px; font-weight: 700; font-size: 20px; color: #333; }
.dev_tools p { font-weight: 500; font-size: 16px; color: #666; }
.dev_tools p:before { display: inline-block; content: ""; position: relative; bottom: 5px; width: 3px; height: 3px; margin: 0 10px 0 0; border-radius: 50%; background-color: #666; }

.process { display: flex; flex-direction: column; align-items: flex-end; width: 477.5px; height: 800px; }

.license { width: 350px; height: auto; }
.license ul { text-align: left; }
.license ul li { font-weight: 400; font-size: 16px; color: #666; }
.license ul li:not(:last-of-type){ margin-bottom: 10px; }
.license ul li:before { display: inline-block; content: ""; position: relative; bottom: 5px; width: 3px; height: 3px; margin: 0 10px 0 0; border-radius: 50%; background-color: #666; }

.edu { margin-top: 50px; }
.edu ul { text-align: left; }
.edu ul li { font-weight: 400; font-size: 16px; color: #666; }
.edu ul li:not(:last-of-type){ margin-bottom: 10px; }
.edu ul li:before { display: inline-block; content: ""; position: relative; bottom: 5px; width: 3px; height: 3px; margin: 0 10px 0 0; border-radius: 50%; background-color: #666; }

.work { margin-top: 50px; }
.work ul { text-align: left; }
.work ul li { font-weight: 400; font-size: 16px; color: #666; }
.work ul li:not(:last-of-type) { margin-bottom: 10px; }
.work ul li:before { display: inline-block; content: ""; position: relative; bottom: 5px; width: 3px; height: 3px; margin: 0 10px 0 0; border-radius: 50%; background-color: #666; }

.prize { margin-top: 50px; }
.prize ul { text-align: left; }
.prize ul li { font-weight: 400; font-size: 16px; color: #666; }
.prize ul li:not(:last-of-type){ margin-bottom: 10px; }
.prize ul li:before { display: inline-block; content: ""; position: relative; bottom: 5px; width: 3px; height: 3px; margin: 0 10px 0 0; border-radius: 50%; background-color: #666; }

.section3_container { display: flex; width: 1200px; height: 800px; margin: 0 auto; }

.vision_comment { width: 570px; height: 800px; text-align: left; }
.vision_comment h2 { position: relative; left: -200px; opacity: 0; margin-bottom: 50px; font-weight: bold; font-size: 40px; color: #00b5ef; transition: 1s; }
.vision_comment h2.vct_active { left: 0 !important; opacity: 1 !important; }

.vision_comment .vc_box:not(:nth-of-type(4)) { margin-bottom: 50px; }
.vc_box { width: 100%; padding-right: 50px; text-align: left; }
.vc_box1 { position: relative; left: -200px; opacity: 0; transition: 2s; }
.vc_box1.vb_active1 { left: 0px !important; opacity: 1 !important; }
.vc_box2 { position: relative; left: -200px; opacity: 0; transition: 2s; }
.vc_box2.vb_active2 { left: 0px !important; opacity: 1 !important; }
.vc_box3 { position: relative; left: -200px; opacity: 0; transition: 2s; }
.vc_box3.vb_active3 { left: 0px !important; opacity: 1 !important; }
.vc_box4 { position: relative; left: -200px; opacity: 0; transition: 2s; }
.vc_box4.vb_active4 { left: 0px !important; opacity: 1 !important; }

.vc_box dt { font-weight: 700; font-size: 20px; color: #333; }
.vc_box dt span { color: #00b5ef; }
.vc_box dd { margin-top: 30px; font-weight: 400; font-size: 14px; line-height: 1.5; color: #666; word-break: keep-all; }

.vision_profile { position: relative; right: -200px; width: 630px; height: 800px; opacity: 0; transition: 1s; }
.vision_profile.vp_active { right: 0; opacity: 1; }
.vision_profile img { width: 630px; height: 800px; }